# local package install
-e .

# third party packages
dvc
dvc[gdrive]
sklearn
pandas
pytest
tox
# To check the coding standards in python
flake8
# Creation of Web app
flask
# To publish the app
gunicorn
mlflow
